In [2]:
import yfinance as yf
import pandas as pd
from Data.Slider import Slider

In [3]:

TICKER = 'Goldbees.ns'
START = '2009-01-02'
END = '2026-02-02'

data = yf.download(tickers = TICKER,
                   start = START,
                   end = END)
data

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open      Volume
Ticker     GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS
Date
2009-01-02   13.370000   13.430000   13.300000    0.000000     1043400
2009-01-05   13.155500   13.320000   13.150000    0.000000     1294700
2009-01-06   13.040000   13.200000   13.020100    0.000000     1236000
2009-01-07   13.215000   13.250000   13.060000    0.000000     1109000
2009-01-09   13.168900   13.200000   13.060000    0.000000      723900
...                ...         ...         ...         ...         ...
2026-01-23  127.419998  132.479996  126.000000  129.100006   141941218
2026-01-27  131.449997  134.000000  129.029999  130.550003   139657546
2026-01-28  135.820007  137.100006  132.000000  132.000000   184193702
2026-01-29  146.529999  148.139999  141.639999  143.000000   271824296
2026-01-30  131.119995  142.800003  127.099998  138.699997   352204561

[4209 rows x 5 columns]

In [4]:
df = pd.DataFrame(data)
df.set_index

<bound method DataFrame.set_index of Price            Close        High         Low        Open      Volume
Ticker     GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS
Date
2009-01-02   13.370000   13.430000   13.300000    0.000000     1043400
2009-01-05   13.155500   13.320000   13.150000    0.000000     1294700
2009-01-06   13.040000   13.200000   13.020100    0.000000     1236000
2009-01-07   13.215000   13.250000   13.060000    0.000000     1109000
2009-01-09   13.168900   13.200000   13.060000    0.000000      723900
...                ...         ...         ...         ...         ...
2026-01-23  127.419998  132.479996  126.000000  129.100006   141941218
2026-01-27  131.449997  134.000000  129.029999  130.550003   139657546
2026-01-28  135.820007  137.100006  132.000000  132.000000   184193702
2026-01-29  146.529999  148.139999  141.639999  143.000000   271824296
2026-01-30  131.119995  142.800003  127.099998  138.699997   352204561

[4209 rows x 5 columns]>

In [5]:
df.columns

MultiIndex([( 'Close', 'GOLDBEES.NS'),
            (  'High', 'GOLDBEES.NS'),
            (   'Low', 'GOLDBEES.NS'),
            (  'Open', 'GOLDBEES.NS'),
            ('Volume', 'GOLDBEES.NS')],
           names=['Price', 'Ticker'])

In [6]:
feat_cols = ['Open','High','Low','Volume']
feartures = df[feat_cols]
feartures = feartures.values

label_col = ['Close']
label = df[label_col]
label = label.values

In [7]:
train_size = int(len(feartures)*0.8)
X_train = feartures[:train_size]
X_test = feartures[train_size:]
Y_train = label[:train_size]
Y_test = label[train_size:]
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(3367, 4) (3367, 1)
(842, 4) (842, 1)

In [8]:
from sklearn.preprocessing import MinMaxScaler

process_feat = MinMaxScaler(feature_range=(0,1))
process_targ = MinMaxScaler(feature_range=(0,1))

X_train = process_feat.fit_transform(X_train)
X_test = process_feat.fit_transform(X_test)

Y_train = process_targ.fit_transform(Y_train)
Y_test = process_targ.fit_transform(Y_test)

print(X_train[0],X_test[0],Y_train[0],Y_test[0])

[0.         0.25121376 0.26714483 0.00626884] [0.05787478 0.01108796 0.05420995 0.00693024] [0.26691172] [0.01227585]

In [9]:
slidertr = Slider(feature = X_train,
                labels = Y_train,
                length = 60)

sliderts = Slider(feature = X_test,
                labels = Y_test,
                length = 60)

x_trainf,y_trainf = slidertr.slider()
x_testff,y_testf = sliderts.slider()